@import url("https://fonts.googleapis.com/css2?family=Qwitcher+Grypen&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Belleza&display=swap");

.form {
  background-color: #9b9692;
  padding: 35px;
  /* border-radius: 10px; */
  box-shadow: 8px 0px 10px rgba(0, 0, 0, 0.1);
  width: 600px;
  height: 100%;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  font-family: "Belleza", sans-serif;
  font-size: 16px;
  color: white;
}
.socialmedia-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.title-c {
  font-family: "Qwitcher Grypen", cursive;
  font-size: 68px;
  font-weight: 600;
  color: #9b9692;
}
.contact-intro {
  font-family: "Belleza", sans-serif;
  font-size: 20px;
  color: #9b9692;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.details {
  display: flex;
  flex-direction: column;
}
.form-with-photo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.emily-portrait {
  width: 400px;
  height: 450px;
}
.Submit {
  width: 130px;
  height: 40px;
  margin: 8% 36%;
  font-family: "Belleza", sans-serif;
  font-size: 16px;
  color: whitesmoke;
  background-color: #e1a7da;
  border-color: #e1a7da;
  border-radius: 5px;
}
label {
  margin-bottom: 10px;
}
input {
  margin-bottom: 10px;
  height: 30px;
  width: 600px;
}
#message {
  height: 20%;
  width: 600px;
}
.phone,
.chat,
.envelope {
  height: 60px;
  width: 80px;
  border-style: solid;
  padding: 20px;
  border-radius: 50%;
  filter: invert(100%);
  background-color: #266c2e;
}
