/* @import url("https://fonts.googleapis.com/css2?family=Playball&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Charm&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hurricane&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cantarell&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Taprom&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Qwitcher+Grypen&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Belleza&display=swap");

.intro {
  width: 50%;
  position: absolute;
  left: 554px;
  padding: 40px;
  top: 187px;
  font-family: "Belleza", sans-serif;
  font-size: 16px;
  color: #7d7873;
}
.contact {
  width: 130px;
  height: 40px;
  margin: 8% 36%;
  font-family: "Belleza", sans-serif;
  font-size: 16px;
  color: whitesmoke;
  background-color: #e1a7da;
  border-color: #e1a7da;
  border-radius: 5px;
}
.emily {
  width: 100%;
  height: 100%;
}
body {
  margin: 0px;
}
.home {
  margin: 0;
  padding: 0;
  height: 1000px;
  /* background: linear-gradient(to right, #cc97c6 50%, #f0e3eb 50%); */
  background-color: #f3e7e945;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pictures {
  background-color: #eed7c3;
  position: relative;
}
.colour {
  /* background-color: #eed7c3;  */
  background-color: #e6cfde;
  height: 550px;
  width: 450px;
  margin: 28px;
}

.title {
  display: flex;
  justify-content: center;
  z-index: 10;
}
/* .name {
  font-family: "Hurricane", cursive;
  font-size: 40px;
  font-weight: 400;
} */
.phrase {
  font-family: "Qwitcher Grypen", cursive;
  font-size: 75px;
  font-weight: 600;
  color: #9b9692;
}
.intro-1,
.intro-2 {
  font-family: "Belleza", sans-serif;
  font-size: 20px;
}
