@import url("https://fonts.googleapis.com/css2?family=Playball&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Charm&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hurricane&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cantarell&display=swap");

.intro {
  /* width: 60%;
  position: absolute;
  bottom: 193px;
  width: 500px;
  left: 780px;
  padding: 40px;
  top: 110px;
  /* font-family: "Playball", cursive; */
  /* font-family: "Cantarell", sans-serif;
  font-size: 16px; */
  width: 50%;
  position: absolute;
  left: 554px;
  padding: 40px;
  top: 187px;
  font-family: "Cantarell", sans-serif;
  font-size: 16px;
}
.emily {
  width: 100%;
  height: 100%;
}
body {
  margin: 0px;
}
.home {
  /* display: flex;
  flex-direction: column;
  /* background-color: #e8dacfbf;  */
  /* background-color: #f3e7e9bf;
  height: 100%;
  width: 100%; */
  margin: 0;
  padding: 0;
  height: 1000px; /* Make sure the body takes up the full viewport height */
  /* background: linear-gradient(to right, #cc97c6 50%, #f0e3eb 50%); */
  background-color: #f0e3eb;
  display: flex;
  flex-direction: column;
}
.pictures {
  background-color: #eed7c3;
  position: relative;
}
.colour {
  /* background-color: #eed7c3;  */
  background-color: #e6cfde;
  height: 550px;
  width: 450px;
  margin: 28px;
}

.title {
  display: flex;
  justify-content: center;
  z-index: 10;
}
.name {
  font-family: "Hurricane", cursive;
  font-size: 60px;
  font-weight: 400;
}
.phrase {
  font-family: "Hurricane", cursive;
  font-size: 40px;
  font-weight: 600;
}
